<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {background-color: darkgray}
        p {color: aliceblue}
    </style>
    {% block title %}
    {% endblock %}
</head>
<body>
    <a href="https://www.baidu.com">Click Me</a>
    {% block body %}
    {% endblock %}
    <br />
    <p><b>Welcome to my first web page</b><br />I am james zhang<sup>(zhangjiapeng)</sup>, I like to share my <i>web server</i></p>
    <img src="https://neulion-a.akamaihd.net/nlmobile/assets/nllogo/endeavor-powerby-light.png" width="260" height="60">
</body>
</html>