<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>


<h1>编辑书籍</h1>
<form method="post">
    {% csrf_token %}
    <h4>书籍名字</h4>
    <input type="text" name="edit_name" value={{ book.book_name }} /><br />
    <h4>价格</h4>
    <input type="text" name="edit_price" value={{ book.price }} /><br />
    <h4>出版日期</h4>
    <input type="text" name="edit_date" value={{ book.publish_date|date:"Ymd" }} /><br />
    <h4>出版社</h4>
    <input type="text" name="edit_press" value={{ book.press }} /><br />
    <input type="submit" name="提交">
</form>

</body>
</html>