{% extends 'base.html' %}

{% block title %}
    <title>Register Page</title>
{% endblock %}

{% block body %}
    <form action='' method="post">
        {% csrf_token %}
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>
        <input type="submit" value="Create account">
    </form>
    <br />
    <table border="1" width="500px">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>weigth</th>
        </tr>
        <tr>
            <td>james</td>
            <td>173</td>
            <td>68</td>
        </tr>
        <tr>
            <td>kobe</td>
            <td>198</td>
            <td>100</td>
        </tr>
    </table>
{% endblock body %}